* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.f18 {
    font-size: 18px;
    color: #474098;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.cur {
    cursor: pointer;
}